/*todo Link font-family */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200&family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

@font-face {
    font-family: BarlowCondensed-Regular;
    src: url("../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf")
}


@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-VariableFont_wght.ttf")
}

@font-face {
    font-family: Rye-Regular;
    src: url("../fonts/Rye/Rye-Regular.ttf")
}



html {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    line-height: 1.6rem;
    box-sizing: border-box;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --font: 'Quicksand', sans-serif;
    --font-size: 1.2rem;
    --color-background: #40403F;
    --text-color: #717170;
    --text-white: #fff;
    --text-color-hover: #EB2020;
    --color-btn-google: #dd4b39;
    --color-btn-face: #3B5998;
    --color-btn-ig: linear-gradient(to right, #8A3AB9, #E95950, #BC2A8D, #FCCC63, #FBAD50, #CD486B, #4C68D7);
}

.btn:hover {
    opacity: 0.6;
}

/*todo CSS index.html  */
.header-container {
    color: var(--text-color);
    position: relative;
    z-index: 2;
}

.header-container a {
    text-decoration: none;
}

.header-logo {
    display: block;
    text-align: center;
}

.group-1 {
    font-size: 1.6em;
    font-weight: 200;
    margin-top: 2rem;
}

.group-1 .header-search input {
    font-family: var(--font);
    width: 20rem;
    border: none;
    border-bottom: #ccc solid 2px;
    /* height: 2em; */
    appearance: none;
    font-size: 1em;
}

.group-1 .header-search input:focus-visible {
    /* border: none; */
    outline-offset: 0px;
    outline: #fff
}

.group-1 .header-guest a {
    color: var(--text-color);
}

.group-1 .header-guest .guest-cart,
.guest-user {
    margin: 0 8px;
    padding: 0px 16px;
    font-size: 1em;
}

/*todo CSS Header menu */

.header-menu {
    margin-top: 2em;
    font-size: 1.6em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: #ccc solid 1px;
    width: 100%;
}

.header-menu-item {
    list-style: none;
    text-align: center;
    padding: 8px;
}

.header-menu-item a {
    text-decoration: none;
    color: var(--text-color);
}

.header-menu .header-submenu {
    background-color: #fff;
    padding-top: 20px;
    width: 100%;
    line-height: 1.5;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 6px 10px 6px -6px rgba(0, 0, 0, 0.3);
}

.header-menu .header-submenu li {
    list-style: none;
    margin-bottom: 16px;
}

.header-menu .header-menu-item:hover .header-submenu {
    display: flex;
}

.header-menu .header-submenu .txt-product-header {
    font-weight: bold;
    line-height: 2.8em;
}

.header-menu .header-submenu .txt-product {
    margin: 4px 0;
}

.header-menu .header-submenu>li:hover>a,
.header-submenu .header-minisubmenu>li:hover>a,
.header-menu>li:hover>a {
    color: var(--text-color-hover);
}

/*todo Banner */

main {
    margin-top: 26px;
}

.banner {
    text-align: center;
    margin-bottom: 2rem;
}

.banner .banner-img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

/*todo Product */
.container-product {
    padding: 0 90px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 700px;
    color: var(--text-white);
}

.collection {
    grid-row: 1/3;
    background-image: url(../img/images/collection.jpg);
}

.collection-male {
    background-image: url(../img/images/collection-male.jpg);
}

.collection-female {
    background-image: url(../img/images/collection-female.jpg);
}

.collection-couple {
    grid-column: 2 /4;
    background-image: url(../img/images/collection-couple.jpg);
}

.collection,
.collection-male,
.collection-female,
.collection-couple {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    background-size: cover;
    font-family: 'Arima Madurai Light';
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 30px;
}

.collection:hover,
.collection-male:hover,
.collection-female:hover,
.collection-couple:hover {
    scale: 103%;
    transition: 300ms;
}

/*todo Brand  */
.brand-switzerland {
    margin: 2rem 0;
}

.brand-container img {
    /* max-width: 16.66667%; */
    object-fit: cover;
    width: 100%;
}

.brand-container .brand-heading {
    margin: 3rem 0;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brand-container .brand-row1 {
    margin-bottom: 8px;
}

.brand-container .brand-row1 a:hover,
.brand-row2 a:hover {
    scale: 1.1;
    transition: 100ms;
}

/*todo CSS Footer */
footer{
    background-color: var(--color-background);
    display: block;
    color: #fff;
}

.footer-store {
    border-bottom: #ccc 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 2em;
}

.footer-container .shop-name {
    font-family: 'Rye';
    font-size: 70px;
    font-weight: 400;
    padding-top: 20px;
    position: relative;
    top: 1rem;
    padding-bottom: 20px;
}

.footer-container .footer-heading {
    margin-bottom: 10px;
}

.footer-container li {
    list-style: none;
}

.footer-container i {
    font-size: 30px;
    margin: 10px;
}

.footer-container .store-chain,
.store-info,
.store-about,
.store-policy,
.store-time {
    line-height: 1.8;
}

.footer-container .store-time {
    text-align: center;
    font-size: var(--font-size);
}
.footer-container .store-item , 
.footer-container .about-item ,
.footer-container .info-item {
    padding-left: 10px;
}


.footer-group2 {
    margin-bottom: 20px;
}

#copyright {
    text-align: center;
    color: #fff;
    opacity: 0.4;
    font-family: var(--font);
}


/*todo product-male  */

.container-male,
.container-female {
    margin: 2em 0;
}

.container-male img,
.container-female img {
    width: 70%;
}

.container-male .male-item,
.container-female .female-item {
    text-align: center;
    padding: 4rem 4px;
    position: relative;

}

.container-male .male-heading,
.container-female .female-heading {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    line-height: 4em;
    text-transform: uppercase;
    padding: 10px 0;
}

.container-female .price-product,
.container-male .price-product {
    font-weight: bold;
    font-size: var(--font-size);
    line-height: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-female .about-product,
.container-male .about-product {
    word-wrap: normal;
    word-break: break-word;
}

.container-male .male-item:hover {

    box-shadow: rgba(0, 0, 0, 0.3) 1px -1px 9px 2px;
    transition: 200ms;
}

/*todo Login.html */

.container-back {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em 1em;
    padding: 4px;
    font-size: var(--font-size);
    z-index: 2;
}

.container-back .back-home {
    display: flex;
    align-items: center;
}

.container-back a {
    text-decoration: none;
    color: var(--text-color);
}

.container-back .back-home .back-text {
    display: inline;
    padding-left: 1vh;
}

.container-back .back-home:hover {

    transform: translateX(10px);
    transition: all 0.9s ease-out;
}

#main-wrapper {
    position: relative;
    margin-top: 4rem;
}

.container-form .form-text {
    text-align: center;
}

.container-form .form-heading {
    padding: 1rem 0;
    text-align: center;
}




.form-group {
    font-size: 1.2rem;
    margin: 20px 0;
}

.form-group .label-form {
    display: flex;
    align-items: center;
    user-select: none;
}

.form-group .label-form .icon,
.form-group .label-form .label-text {
    display: inline;
    padding: 0 4px;
}

.form-group .form-control {
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: 1px var(--text-color) solid;
    font-family: var(--font);
    margin: 1vh 1vh;
    width: 90%;
}

.form-group .form-control::placeholder {
    font-size: 1rem;
}

.form-check,
.form-submit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    user-select: none;
    align-items: center;
}

.form-submit .submit-login,
.form-submit .submit-newAccount {
    width: 16em;
    height: 4em;
    margin: 4em 0;
}

.form-submit .submit-login {
    background-color: #ebebeb7d;
}

.form-submit .submit-newAccount {
    background-color: #000;
    color: var(--text-white);
}

.form-submit .submit-text {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font);
}

.form-submit .btn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-submit .btn:hover {
    scale: 1.1;
    transition: all 0.5s ease-in-out;
}

.or {
    text-align: center;
}

.login-with {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-with .btn {
    display: block;
    width: 85%;
    text-align: left;
    margin: 20px 0px 4px 0px;
    height: 46px;
    border: none;
    cursor: pointer;
    color: var(--text-white);
    border-radius: 6px;
}

.login-with .btn-google,
.login-with .btn-face,
.login-with .btn-ig {
    display: flex;
    align-items: center;
}

.btn-google {
    background: var(--color-btn-google);
}

.btn-face {
    background: var(--color-btn-face);
}

.btn-ig {
    background: var(--color-btn-ig);
}

.login-with .btn .login-text {
    display: inline-block;
    padding: 0 8px;
    font-size: 16px;
}

.login-with .login-icon {
    font-size: 20px;
    padding-left: 10px;
}

.login-with .btn .login-text {
    font-family: var(--font);
}

.container-august {
    background-color: var(--color-background);
    overflow: hidden;
}

/*! Sửa lại logo , biện pháp này chỉ tạm thời */
.august-logo {
    object-fit: cover;
    text-align: center;
    width: 100%;
    transform: translateX(20px);
}

.august-sologan {
    color: #FFF;
    text-align: center;
    font-family: 'Arizonia', cursive;
    font-size: 2em;
}

.august-notice,
.about-us {
    color: var(--text-white);
    margin-top: 8rem;
    text-align: center;
    font-size: 1rem;
}

.august-notice .notice-text {
    padding: 0 20px;
}

.august-notice .notice-text a {
    color: inherit;
    text-underline-offset: 4px;
}

.about-us a {
    text-decoration: none;
    color: inherit;
}

.about-us i {
    font-size: 2em;
    margin-left: 10px;
}

/*todo Voucher.html */

.container-sale {

}

.container-sale img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.container-sale .sale-item {
    background: rgba(238, 238, 238, 0.39);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em 0;
}
.container-sale .sale-item:hover {
    scale: 1.02;

    transition: all 0.2s linear;
}

.container-sale .sale-about {
    text-align: center;
    padding: 16px;
}

.container-sale .sale-heading {
    font-family: Barlow Condensed;
    color: var(--text-color-hover);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.container-sale .sale-text 
{
    
    font-size: 1.2em;
    padding: 2rem;
}
.container-sale .useVoucher{
    font-family: var(--font);
    font-size: 1.2em;
    width: 8em;
    height: 3em;
    border-radius: 10px;
    background-color:#717170 ;
    color: var(--text-white);
    border: none;
}